# SPDX-FileCopyrightText: Andrew Hayzen <ahayzen@gmail.com>
#
# SPDX-License-Identifier: MPL-2.0

name: CI tests
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

# Cancel any previous runs for the same pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  license_check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.1
      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6

  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5.0.1
      - name: "build"
        run: ./build.sh
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -x
        with:
          ignore_paths: ./src/**.sh
